<div class="comps">
      
    <multi-select-auto-complete 
    [placeholder]= "'Search for a movie'"
    [filterData]= "filteredResult"
    [displayDataAttr] = "'Title'"
    [dataValueAttr] = "'imdbID'"
    [isLoading] = "isLoading"
    [loaderMsg] = "'Loading...'"
    [multiSelection] = "multiSelection"
    (searchKeyEmitter) = "getMovieDataOnFilter($event)"
    [formControl]="movieSelection"
    > 
  
    </multi-select-auto-complete>
</div>

<div class="output">
    <h1>Selected Item in parent Component</h1>
    <div *ngIf="multiSelection">
        <div *ngFor="let selection of selectedFilter">
          {{selection.Title}}
        </div>
    </div>

    <div *ngIf="!multiSelection">
      {{selectedFilter?.Title}}
    </div>
</div>